$primaryColor: rgba(0, 157, 255, 1);
$lighterPrimary: rgba(0, 157, 255, 0.7);
$lightGray: #b9b9b9;
$navHeight: 100%;
$navWidth: 200px;;
$headerHeight: 60px;
$whiteOutline: solid white 2px;
// Forms
$formColor: $primaryColor;
$formFocus: #83bffc;