<button (click)="skipNavigation()" [attr.tabindex]="tabIndex ? 1 : null" class="skip-nav btn">Skip to main content</button>
<nav
	id="navbar"
	class="navbar navbar-default">
	<div [ngClass]="{'darker': !isCollapsed}">
		<div
			[ngClass]="{'active-route': currentPath === '/'}"
			class="navbar-header">
			<a
				aria-label="Home"
				[attr.tabindex]="tabIndex ? tabIndex : null"
				[routerLink]="['/']"
				class="navbar-brand ion-paper-airplane">
				Dashboard
			</a>
		</div>
		<div [ngClass]="{'not-collapsed': !isCollapsed}" class="nav-links mobile-collapse" >
			<ul *ngIf="routes.length > 1" class="nav navbar-nav">
        <template ngFor let-route="$implicit" [ngForOf]="routes">
					<li
						*ngIf="route.path !== ''"
						role="menuitem"
						[ngClass]="{'active-route': currentPath === '/' + route.path}" >
						<a
							[attr.tabindex]="tabIndex ? tabIndex : null"
							[routerLink]="['/' + route.path]"
							class="{{route.data.icon}}">{{route.data.name}}</a>
					</li>
        </template>
			</ul>
		</div>
	</div>
</nav>
<div class="header">
	<button
		type="button"
		class="navbar-toggle"
		(click)="isCollapsed = !isCollapsed"
		aria-label="Toggle navigation options">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<div class="search-container">
		<input class="search" type="text">
		<i
			class="ion-ios-search"
			aria-hidden="true"></i>
	</div>
</div>
<div
	#startOfContent
	id="start-of-content"
	(blur)="startContentBlur()"
	aria-label="You have skipped to the main content"
	[attr.tabindex]="startContentIndex"></div>
