<button (click)="skipNavigation()" [attr.tabindex]="tabIndex ? 1 : null" class="skip-nav btn">Skip to main content</button>
<nav
	id="navbar"
	class="navbar navbar-default">
	<div class="nav-links mobile-collapse" >
		<ul *ngIf="routes.length > 1" class="nav navbar-nav">
			<template ngFor let-route="$implicit" [ngForOf]="routes">
				<li
					role="menuitem"
					[ngClass]="{'active-route': currentPath === '/' + route.path, 'navbar-header': route.path === ''}" >
					<a
						[attr.tabindex]="tabIndex ? tabIndex : null"
						[routerLink]="['/' + route.path]"
						class="{{route.data.icon}}">{{route.data.name}}</a>
				</li>
			</template>
		</ul>
		<div *ngIf="logoLoaded" class="logo-container">
			<img [src]="logo.src" [alt]="logo.alt">
			<div class="github-link">
				<a href="https://github.com/adriancarriger/udacity-dashboard" target="_blank">Github <i class="ion-share"></i></a>
			</div>
		</div>
	</div>
</nav>
<div
	#startOfContent
	id="start-of-content"
	(blur)="startContentBlur()"
	aria-label="You have skipped to the main content"
	[attr.tabindex]="startContentIndex"></div>
