@import '../../styles/variables';
:host {
	min-height: 100%;
}
.skip-nav {
	position: absolute;
	left: -1000%;
	&:focus {
		position: fixed;
		top: 2px;
		left: 2px;
		z-index: 99999;
		padding: 10px;
		font-size: 20px;
		height: 60px;
		color: white;
		background-color: $primaryColor;
	}
}
.navbar {
	background-color: #efebeb;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: $navWidth;
	a {
		cursor: pointer;
	}
	&.navbar-default {
		.navbar-brand, .navbar-nav > li > a {
			color: gray;
			width: 92%;
    	margin: 5px 4%;
			position: relative;
			$iconSize: 25px;
			padding-left: $iconSize + 10px;
			font-size: 16px;
			&::before {
				position: absolute;
				left: 5px;
				font-size: $iconSize;
				top: 0;
				bottom: 0;
				margin: auto;
				height: $iconSize;
			}
			@media (max-width: 767px) {
				// margin: 15px;
			}
			&:focus:not(:active) {
				outline: $whiteOutline;
			}
		}
		$activeWidth: 4px;
		.navbar-nav {
			margin: 0;
			width: 100%;
			li {
				width: 100%;
				border-bottom: 1px solid $lightGray;
				&:active, &.active-route {
					border-right: $activeWidth $primaryColor solid;
					a {
						color: $primaryColor;
					}
				}
				a {
					&:focus:not(:active) {
						outline: solid $lightGray 2px;
					}
				}
				@media (max-width: 767px) {
					border-top: 1px solid white;
					&:last-of-type {
						border-bottom: 1px solid white;
					}
				}
			}
		}
		.navbar-header {
			height: $headerHeight;
			width: 100%;
			background-color: $primaryColor;
			&:active, &.active-route {
				border-right: $activeWidth #001dff solid;
			}
			.navbar-brand {
				color: white;
				// @media (max-width: 767px) {
				// 	padding: 0px 12px;
				// 	padding-top: 5px;
				// 	font-size: 42px;
				// 	margin: 8px;
				// 	margin-top: 5px;
				// 	height: 51px;
				// }
			}
		}
		.nav-links {
			position: absolute;
			top: $headerHeight;
			bottom: 0;
			right: 0;
			left: 0;
			border: none;
			border-right: 1px solid $lightGray;
		}
	}
}
.header {
	position: absolute;
	left: $navWidth;
	right: 0;
	top: 0;
	background-color: $lighterPrimary;
	color: white;
	height: $headerHeight;
	h1 {
		margin: 0;
		font-size: 36px;
    height: $headerHeight;
    padding-top: 20px;
    padding-left: 20px;
	}
	// Nav collapse button
	.navbar-toggle {
		border: none;
		position: relative;
		&:focus {
			outline: $whiteOutline;
		}
		.icon-bar {
			background-color: white;
		}
		&:hover {
			background-color: initial;
		}
		&:focus {
			background-color: initial;
		}
		@media (max-width: 768px) {
			margin-top: 14px;
		}
	}
	.avatar-container {
		float: left;
		margin: 5px 6px;
		.avatar-message {
			float: left;
			padding: 15px 0px;
		}
		.image-container {
			width: 50px;
			float: left;
			overflow: hidden;
			border-radius: 50%;
			height: 50px;
			margin-right: 15px;
			
			img {
				width: 100%;
			}
		}
	}
}
@media (max-width: 767px) {
  .mobile-collapse {
		text-align: center;
  }
}
#start-of-content {
	position: absolute;
	left: -1000%;
}