@import '../../styles/variables';
.navbar {
	background-color: $primaryColor;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: $navWidth;
	a {
		cursor: pointer;
	}
	.skip-nav {
		position: absolute;
		left: -1000%;
		&:focus {
			position: fixed;
			top: 2px;
			left: 2px;
			z-index: 99999;
			padding: 10px;
			font-size: 20px;
			height: 60px;
			color: white;
			background-color: $primaryColor;
		}
	}

	&.navbar-default {
		.navbar-brand, .navbar-nav > li > a {
			color: white;
			margin: 5px 0;
			@media (max-width: 767px) {
				margin: 15px;
			}
			&:focus {
				outline: $whiteOutline;
			}
		}
		.navbar-nav {
			margin: 0;
			@media (max-width: 767px) {
				li {
					border-top: 1px solid white;
					&:last-of-type {
						border-bottom: 1px solid white;
					}
				}
			}
		}
		.navbar-brand {
			padding: 12px 15px;
			padding-top: 4px;
			font-size: 35px;
			@media (max-width: 767px) {
				padding: 0px 12px;
				padding-top: 5px;
				font-size: 42px;
				margin: 8px;
				margin-top: 5px;
				height: 51px;
			}
		}
	}
	.navbar-pull-right {
		float: right;
	}
	// Nav collapse button
	.navbar-toggle {
		border: none;
		&:focus {
			outline: $whiteOutline;
		}
		.icon-bar {
			background-color: white;
		}
		&:hover {
			background-color: initial;
		}
		&:focus {
			background-color: initial;
		}
		@media (max-width: 768px) {
			margin-top: 14px;
		}
	}
}
@media (max-width: 767px) {
  .mobile-collapse {
		text-align: center;
  }
}
#start-of-content {
	position: absolute;
	left: -1000%;
}