@import './styles/variables';
html, body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  .content-container {
    padding: 10px;
    padding-top: $headerHeight + 10px;
    margin-left: $navWidth;
    width: calc(100% - #{$navWidth});
  }
}