<app-navbar (onNav)="isClosed = true" [ngClass]="{'is-closed': isClosed}"></app-navbar>
<div class="wrapper" [ngClass]="{'is-closed': isClosed}">
  <div class="content-container">
    <div class="nav-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="isClosed = !isClosed"
        aria-label="Toggle navigation options">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="avatar-container">
        <div class="image-container">
          <img src="assets/avatar.jpg">
        </div>
        <div class="avatar-message">Hello, David</div>
      </div>
    </div>
    <div class="current-date">Today's date: <time>{{ (apiService.currentDate | async)?.$value / 1000 | amFromUnix | amDateFormat:'LL' }}</time></div>
    <router-outlet></router-outlet>
  </div>
  <app-logo class="logo"></app-logo>
</div>