@import './styles/variables';
html, body {
  height: 100%;
}
h1 {
  font-weight: 200;
}
.wrapper {
  position: relative;
  min-height: 100%;
  $defaultPadding: 10px;
  .content-container {
    padding-top: $headerHeight + $defaultPadding;
    margin-left: $navWidth;
    width: calc(100% - #{$navWidth});
    .current-date {
      color: gray;
      text-align: right;
      padding-right: $defaultPadding;
    }
    .content-area {
      padding: $defaultPadding;
    }
  }
}