@import './styles/variables';
html, body {
  height: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: $navWidth;
  right: 0;
  width: 100%;
  background-color: yellow;
  height: $headerHeight;
  h1 {
    margin: 0;
  }
}
.content-container {
  margin-left: $navWidth;
  margin-top: $headerHeight; 
}