<div class="content-area">
  <h1 class="title">{{ (apiService.routeInfo | async)?.analytics.title }}</h1>
  <p>{{ (apiService.routeInfo | async)?.analytics.subtitle }}</p>
  <div class="filter">
    <div class="search-container">
      <input
      #searchInput
      (input)="termSearch = searchInput.value"
      class="search"
      type="text">
      <i
        class="ion-ios-search"
        aria-hidden="true"></i>
    </div>
    <div class="input-area">
      <div class="input-item left">
        <select
          (change)="statusFilter = $event.target.value">
          <option [selected]="currentStatus === 'all'" value="all">All statuses</option>
          <option [selected]="currentStatus === 'Open'">Open</option>
          <option>Closed</option>
        </select>
      </div>
      <div class="input-item right">
        <select
          (change)="typeFilter = $event.target.value">
          <option selected value="all">All types</option>
          <option value="Employee">Employee</option>
          <option value="Client">Client</option>
        </select>
      </div>
  </div>
  <div class="spreadsheet-container">
    <div class="spreadsheet">
      <div class="row header">
        <button [ngClass]="{'current': sortBy === 'opened'}" (click)="updateSort('opened')" class="btn btn-link col small">Opened <span [ngClass]="{'ion-ios-arrow-down' : arrowDesc('opened', true), 'ion-ios-arrow-up' : !arrowDesc('opened', true) }"></span></button>
        <button [ngClass]="{'current': sortBy === 'closed'}" (click)="updateSort('closed')" class="btn btn-link col small">Closed  <span [ngClass]="{'ion-ios-arrow-down' : arrowDesc('closed', true), 'ion-ios-arrow-up' : !arrowDesc('closed', true) }"></span></button>
        <button [ngClass]="{'current': sortBy === 'type'}" (click)="updateSort('type')" class="btn btn-link col small">Type <span [ngClass]="{'ion-ios-arrow-down' : arrowDesc('type', false), 'ion-ios-arrow-up' : !arrowDesc('type', false) }"></span></button>
        <button [ngClass]="{'current': sortBy === 'complainer'}" (click)="updateSort('complainer')" class="btn btn-link col small">Complainer <span [ngClass]="{'ion-ios-arrow-down' : arrowDesc('complainer', false), 'ion-ios-arrow-up' : !arrowDesc('complainer', false) }"></span></button>
        <button [ngClass]="{'current': sortBy === 'complainee'}" (click)="updateSort('complainee')" class="btn btn-link col small">Complainee <span [ngClass]="{'ion-ios-arrow-down' : arrowDesc('complainee', false), 'ion-ios-arrow-up' : !arrowDesc('complainee', false) }"></span></button>
        <div class="col large">Comments</div>
      </div>
      <div *ngFor="let issue of (apiService.rawIssues | async) | appFilter:termSearch:statusFilter:typeFilter:filteredMeta | appSort:sortBy:desc" class="row">
        <div class="col small">{{issue.opened}}</div>
        <div class="col small">{{issue.closed}}</div>
        <div class="col small">{{issue.type}}</div>
        <div class="col small">{{issue.complainer}}</div>
        <div class="col small">{{issue.complainee}}</div>
        <div class="col large comments-container" [ngClass]="{'expanded': issue.expand === true}">
          <span class="comments">{{issue.comments}}</span> 
          <button class="expand-button btn btn-link" (click)="issue.expand = !issue.expand">{{ issue.expand !== true ? 'More' : 'Less'}}</button>
        </div>
      </div>
    </div>
    <div *ngIf="(apiService.rawIssues | async) !== undefined && filteredMeta?.count === 0" class="no-results">
        No matches for {{filteredMeta.query}}
    </div>
    <div *ngIf="(apiService.rawIssues | async)?.length === 0" class="no-results">
        No issues
    </div>
  </div>
</div>