@import '../styles/variables';
$breakPoint: 1000px;
$expandPoint: 1200px;
$sheetFontSize: 14px;
.filter {
  .search-container {
		position: absolute;
		left: 15px;
		top: 14px;
		margin: auto;
		height: 30px;
    @media (max-width: $mobileBreakPoint) {
      right: 15px;
      z-index: 1;
      width: 50%;
      .search {
        width: 100%;
      }
    }
		i {
			position: absolute;
			color: white;
			margin: auto;
			top: 0;
			bottom: 6px;
			height: 20px;
			left: 7px;
			font-size: 20px;	
		}
		.search {
			border-radius: 15px;
			border: none;
			color: gray;
			font-size: 15px;
    	padding: 5px 30px;
			background-color: $fadedPrimary;
			outline: none;
			&:focus {
				background-color: white;
				& + i {
					color: gray;
				}
			}
		}
	}
  .input-item {
    width: 180px;
    padding: 10px;
    margin: 0 auto;
    @media (min-width: 401px) {
      float: left;
      &.left {
        padding-right: 30px;
      }
      &.right {
        padding-left: 30px;
      }
    }
    label {
      color: white;
      font-weight: 200;
    }
    select {
      width: 100%;
    }
  }
}
.spreadsheet-container {
  width: 100%;
  overflow-x: scroll;
  .spreadsheet {
    $sheetSidePadding: 15px;
    min-width: 900px;
    width: 100%;
    padding: 0 $sheetSidePadding;
    .row {
      border-bottom: solid 1px $lightGray;
      padding: 10px $sheetSidePadding;
      &.header {
        font-weight: bold;
        border-bottom-width: 2px;
        .btn-link {
          padding: 0;
          text-decoration: none;
          font-weight: bold;
          color: inherit;
          &.current {
            color: $primaryColor;
          }
        }
      }
      $smallSize: 12%;
      $mobileMaxWidth: 290px;
      .col {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: $sheetFontSize;
        @media (max-width: 350px) {
          max-width: $mobileMaxWidth;
        }
      }
      .small {
        width: $smallSize;
      }
      .large {
        width: 100% - ($smallSize * 5);
      }
      .comments-container {
        .expand-button {
          padding: initial;
        }
        @media (min-width: $breakPoint + 1px) {
          .expand-button {
            display: none;
          }
        }
        @media (max-width: $breakPoint) {
          &:not(.expanded) {
            .comments {
              display: block;
              float: left;
              width: 280px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .expand-button {
              display: block;
              float: left;
            }
          }
        }
        @media (max-width: 350px) {
          &:not(.expanded) .comments {
            max-width: $mobileMaxWidth - 70px;
          }   
        }
      }
    }
  }
  .no-results {
    text-align: center;
    height: 100px;
    margin-top: 100px;
    font-size: 20px;
  }
}

// default select styling
select {
  $selectColor: white;
  color: $primaryColor;
  display: block;
  font-size: 18px;
  border-style: solid;
  border-color: $selectColor;
  border-width: 1px;
  padding: 10.219px;
  box-shadow: none;

  height: 47.44px;
  min-width: 100px;
  background-color: $selectColor;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-image: url('assets/ios-down-arrow.svg');
  background-size: 30px;
  cursor: pointer;
  &::-ms-expand{
    display:none;
  }
  .default-select {
    display: none;
  }
  .hide-option {
    display: none;
  }
}
