<div class="content-area">
  <h1 class="title">Employee map</h1>
  <p>Employee count per branch</p>
</div>
<div class="map" #map [ngClass]="{'loaded': mapMeta.loaded}">
  <sebm-google-map
    (idle)="updateLabels(); mapMeta.loaded = true"
    [latitude]="mapMeta.lat"
    [longitude]="mapMeta.lng"
    [zoom]="mapMeta.zoom"
    [disableDefaultUI]="true"
    [scrollwheel]="false"
    [zoomControl]="true"
    [styles]="mapMeta.styles"
    [style.height]="mapMeta.height">
    <sebm-google-map-info-window
      *ngFor="let branch of apiService.branches"
      #branches
      [latitude]="branch.lat"
      [longitude]="branch.lng"
      [disableAutoPan]="true"
      [isOpen]="true">
      <div class="branch-container">
        <div class="branch-employees">{{branch.employees}}</div>
        <div class="branch-name">{{branch.name}}, {{branch.state}}</div>
      </div>
    </sebm-google-map-info-window>
  </sebm-google-map>
</div>