@import '../styles/variables';
.map {
  position: relative;
  &:before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 1;
    content: "";
  }
  &.loaded:before {
    display: none;
  }
}
