<div class="content-area">
  <h1 class="title">Employee map</h1>
  <p>Employee count per branch</p>
</div>
<div class="map" #map [ngClass]="{'loaded': mapMeta.loaded}">
  <sebm-google-map
    (idle)="updateLabels(); mapMeta.loaded = true"
    [latitude]="mapMeta.lat"
    [longitude]="mapMeta.lng"
    [zoom]="mapMeta.zoom"
    [disableDefaultUI]="true"
    [scrollwheel]="false"
    [zoomControl]="true"
    [styles]="mapMeta.styles"
    [style.height]="mapMeta.height">
    <template ngFor let-branch [ngForOf]="apiService.branches | async">
      <sebm-google-map-info-window
        *ngIf="branch.employees > 0"
        #branches
        [latitude]="branch.lat"
        [longitude]="branch.lng"
        [disableAutoPan]="true"
        [isOpen]="isOpen">
        <div class="branch-container">
          <div class="branch-employees">{{branch.employees}}</div>
          <div class="branch-location">{{branch.city}}, {{branch.state}}</div>
        </div>
      </sebm-google-map-info-window>
    </template>
  </sebm-google-map>
</div>
