<div class="content-area">
  <h1 class="title">{{ (apiService.routeInfo | async)?.geospacial.title }}</h1>
  <p>{{ (apiService.routeInfo | async)?.geospacial.subtitle }}</p>
</div>
<div class="map" #map [ngClass]="{'loaded': mapMeta.loaded}">
  <sebm-google-map
    (idle)="mapMeta.loaded = true"
    [latitude]="mapMeta.lat"
    [longitude]="mapMeta.lng"
    [zoom]="mapMeta.zoom"
    [disableDefaultUI]="true"
    [scrollwheel]="false"
    [zoomControl]="true"
    [styles]="mapMeta.styles"
    [style.height]="mapMeta.height">
    <template ngFor let-branch [ngForOf]="apiService.branches | async">
      <sebm-google-map-info-window
        *ngIf="branch.employees > 0"
        #branches
        [latitude]="branch.lat"
        [longitude]="branch.lng"
        [disableAutoPan]="true"
        [isOpen]="true">
        <div class="branch-container">{{branch.employees}} {{branch.city}}, {{branch.state}}</div>
      </sebm-google-map-info-window>
    </template>
  </sebm-google-map>
</div>
