<div class="content-area">
  <div class="chart-container focus">
    <h1>Paying customers</h1>
    <app-chart
      [datasets]="(apiService.sales | async)?.clients"
      [labels]="(apiService.sales | async)?.dates"
      [legend]="false"
      [chartType]="'line'"></app-chart>
  </div>
  <div class="chart-row">
    <div
      [routerLink]="['/analytics']" 
      class="col-md-8 chart-container reported-issues">
      <h1>Reported issues</h1>
      <app-chart
        [datasets]="(apiService.issues | async)?.datasets"
        [labels]="(apiService.issues | async)?.labels"
        [chartType]="'bar'"></app-chart>
    </div>
    <div class="col-md-4 chart-container number-container">
      <div
        class="number-content"
        [routerLink]="['/analytics']"
        [queryParams]="{ status: 'Open' }">
        <div class="number-data">{{(apiService.issues | async)?.total}}</div>
        <h1 class="number-label">Open issues</h1>
      </div>
    </div>
  </div>
  <div *ngIf="pieChartData.length > 0" class="chart-container pie">
    <h1>Customers by branch</h1>
    <app-chart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="'pie'"></app-chart>
  </div>
</div>