<div class="content-area">
  <div class="chart-container focus">
    <h1>Paying customers</h1>
    <div *ngIf="showLineChart">
      <canvas baseChart class="chart"
        [datasets]="(apiService.sales | async).clients"
        [labels]="(apiService.sales | async).dates"
        [colors]="lineChartColors"
        [legend]="false"
        [chartType]="'line'"></canvas>
    </div>
  </div>
  <div class="chart-row">
    <div class="col-md-4 chart-container number-container">
      <div class="number-content">
        <div class="number-data">{{(apiService.issues | async)?.total}}</div>
        <h1 class="number-label">Open issues</h1>
      </div>
    </div>
    <div class="col-md-8 chart-container">
      <h1>Reported issues</h1>
      <div *ngIf="showBarChart">
        <canvas baseChart class="chart"
          [datasets]="(apiService.issues | async).datasets"
          [labels]="(apiService.issues | async).labels"
          [colors]="barChartColors"
          [chartType]="'bar'"></canvas>
      </div>
    </div>
  </div>
  <div *ngIf="pieChartData.length > 0" class="chart-container pie">
    <h1>Customers by branch</h1>
    <div *ngIf="showPieChart">
      <canvas baseChart class="chart"
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [colors]="pieChartColors"
        [options]="pieChartOptions"
        [chartType]="'pie'"></canvas>
    </div>
  </div>
</div>